.gradle
gradle.properties
/build/
/bin/
!gradle/wrapper/gradle-wrapper.jar

### Eclipse/STS ###
.metadata
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/out/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

.DS_Store
*.log

# Cache folders
*/.cache/
